# Unity 기본 무시 항목 (루트 기준)
# 자동 생성되는 캐시, 빌드, 로그 등 불필요한 폴더/파일 무시
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/.vs/
/.gradle/
/.idea/
/ExportedObj/
/.consulo/

# Visual Studio / IDE 관련 무시
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity 관련 자동 생성 파일
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties

# Addressables 관련 자동 생성 파일
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# JetBrains Rider Plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# 반드시 Git에 포함할 폴더 (예외 처리)
/!Assets/
/!ProjectSettings/
/!UserSettings/
